# lec11

In [14]:
with open('jmu_news.txt','r') as jmu_news:
  text_content = jmu_news.read()
  word_list = text_content.split()
  count_result = Counter(word_list)
  for word, count in count_result.most_common(10):
    print(word,count)

and 18
for 7
to 6
the 4
of 4
in 4
JMU 3
June 3
4 3
President 3

In [9]:
from collections import Counter

In [12]:
count_result = Counter ( ['a', 'b', 'b'])
print(count_result)

Counter({'b': 2, 'a': 1})

# ex1

In [16]:
print('    {} salary is ${}''.format('Tom' , 60000) )

SyntaxError: invalid syntax (<ipython-input-16-82c1baa86ec7>, line 1)